{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br />
<h1 align="center" style="margin-bottom: 5%; font-size: 400%">Home</h1>
<div align="center">
  <form action="{{ url_for('views.closet') }}" method="get">
    <button
      type="submit"
      class="btn btn-lg btn-primary"
      style="margin-bottom: 5%"
    >
      View Closet
    </button>
  </form>
  <br />
  <form action="{{ url_for('views.insert') }}" method="get">
    <button type="submit" class="btn btn-lg btn-info">Add New Item</button>
  </form>
</div>

{% endblock %}
